li {
  color: rgb(83, 89, 233);
  color: rgb(242, 243, 255);
  color: rgb(75, 77, 122);
  color: rgb(210, 210, 221);
  color: rgb(248, 78, 139);
  color: rgb(43, 45, 100);
  color: rgb(3, 231, 203);
  color: rgb(18, 212, 201);
  color: rgb(100, 106, 235);
  color: rgb(255, 255, 255);
}
